USE [CosmicCakes]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 23.03.2018 19:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Berries]    Script Date: 23.03.2018 19:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Berries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](60) NULL,
 CONSTRAINT [PK_dbo.Berries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bisquits]    Script Date: 23.03.2018 19:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bisquits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Bisquits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommonSweets]    Script Date: 23.03.2018 19:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonSweets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[MainInfo] [nvarchar](1000) NOT NULL,
	[MinWeight] [float] NOT NULL,
	[MinOrderItemsCount] [int] NOT NULL,
	[PricePerItem] [decimal](18, 2) NOT NULL,
	[MaxWeight] [int] NOT NULL,
	[PricePerKilo] [int] NOT NULL,
	[IsLevelable] [bit] NOT NULL,
	[BackgroundImagePath] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsCake] [bit] NOT NULL,
	[IsAdditionalSweet] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CommonSweets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Creams]    Script Date: 23.03.2018 19:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Creams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Creams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fillings]    Script Date: 23.03.2018 19:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fillings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Fillings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HelpRequests]    Script Date: 23.03.2018 19:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HelpRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Name] [nvarchar](100) NULL,
	[Patronymic] [nvarchar](100) NULL,
	[RequestText] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HelpRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndividualPriceIncludements]    Script Date: 23.03.2018 19:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndividualPriceIncludements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IncludementInfo] [nvarchar](max) NULL,
	[SweetId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.IndividualPriceIncludements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 23.03.2018 19:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerPhoneNumber] [nvarchar](20) NULL,
	[OrderDate] [datetime] NOT NULL,
	[ExpireDate] [datetime] NOT NULL,
	[CakeWeight] [float] NOT NULL,
	[FillingType] [nvarchar](max) NULL,
	[Comments] [nvarchar](max) NULL,
	[Berries] [nvarchar](max) NULL,
	[CakeName] [nvarchar](max) NULL,
	[SelectedLevels] [int] NOT NULL,
	[FirstLevelBisquit] [nvarchar](max) NULL,
	[SecondLevelBisquit] [nvarchar](max) NULL,
	[ThirdLevelBisquit] [nvarchar](max) NULL,
	[SelectedOneLevelBisquit] [nvarchar](max) NULL,
	[SelectedMultiLevelBisquit] [nvarchar](max) NULL,
	[DeliveryNeeded] [bit] NOT NULL,
	[DeliveryAdress] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SweetImages]    Script Date: 23.03.2018 19:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SweetImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Path] [nvarchar](max) NULL,
	[SweetId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SweetImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SweetIndividualRectangleImages]    Script Date: 23.03.2018 19:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SweetIndividualRectangleImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Path] [nvarchar](max) NULL,
	[SweetId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SweetIndividualRectangleImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFeedbacks]    Script Date: 23.03.2018 19:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFeedbacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Author] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[AttachedImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserFeedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Berries] ON 

INSERT [dbo].[Berries] ([Id], [Name]) VALUES (1, N'Красные')
INSERT [dbo].[Berries] ([Id], [Name]) VALUES (2, N'Синие')
INSERT [dbo].[Berries] ([Id], [Name]) VALUES (3, N'Микс')
SET IDENTITY_INSERT [dbo].[Berries] OFF
SET IDENTITY_INSERT [dbo].[Bisquits] ON 

INSERT [dbo].[Bisquits] ([Id], [Type], [Description]) VALUES (1, N'гранд шоколад', N'Сочные бисквиты с какао и кусочками настоящего шоколада. Тяжёлые, влажные, прекрасно сочетаются с домашней карамелью или ягодными начинками (муссы, желе, свежие ягоды)')
INSERT [dbo].[Bisquits] ([Id], [Type], [Description]) VALUES (2, N'vanilla
', N'Воздушные бисквиты с добавлением настоящей стручковой ванили. Легкие, нежные, прекрасно сочетаются со свежими начинками (свежие ягоды, желе, чизкейками, муссы, курды)')
INSERT [dbo].[Bisquits] ([Id], [Type], [Description]) VALUES (3, N'цитрусовый бум', N'Лимон, лайм или мандарин.
Цитрусовые нотки в легком тающем бисквите. Отлично сочетается с ягодами, чизкейками, курдами, муссами.')
SET IDENTITY_INSERT [dbo].[Bisquits] OFF
SET IDENTITY_INSERT [dbo].[CommonSweets] ON 

INSERT [dbo].[CommonSweets] ([Id], [Name], [Description], [MainInfo], [MinWeight], [MinOrderItemsCount], [PricePerItem], [MaxWeight], [PricePerKilo], [IsLevelable], [BackgroundImagePath], [IsActive], [IsCake], [IsAdditionalSweet]) VALUES (1, N'Ягодный   венок', N'Торт с венком/полумесяцем из несезонных ягод', N'Торт с венком/полумесяцем из несезонных ягод', 1.5, 1, CAST(0.00 AS Decimal(18, 2)), 3, 1800, 1, N'/Content/Images/Backgrounds/crown.jpg', 1, 1, 0)
INSERT [dbo].[CommonSweets] ([Id], [Name], [Description], [MainInfo], [MinWeight], [MinOrderItemsCount], [PricePerItem], [MaxWeight], [PricePerKilo], [IsLevelable], [BackgroundImagePath], [IsActive], [IsCake], [IsAdditionalSweet]) VALUES (2, N'Акварельный   торт', N'Торт с акварельным декором', N'Торт с акварельным декором', 1.5, 1, CAST(0.00 AS Decimal(18, 2)), 3, 1800, 1, N'/Content/Images/Backgrounds/aquarel.jpg', 1, 1, 0)
INSERT [dbo].[CommonSweets] ([Id], [Name], [Description], [MainInfo], [MinWeight], [MinOrderItemsCount], [PricePerItem], [MaxWeight], [PricePerKilo], [IsLevelable], [BackgroundImagePath], [IsActive], [IsCake], [IsAdditionalSweet]) VALUES (3, N'Cosmic   Cake', N'Мерцающий торт в космическом оформлении', N'Мерцающий торт в космическом оформлении', 1.5, 1, CAST(0.00 AS Decimal(18, 2)), 3, 1800, 1, N'/Content/Images/Backgrounds/cosmic.jpg', 1, 1, 0)
SET IDENTITY_INSERT [dbo].[CommonSweets] OFF
SET IDENTITY_INSERT [dbo].[Creams] ON 

INSERT [dbo].[Creams] ([Id], [Type], [Description]) VALUES (1, N'крем-чиз', N'Вкус крема не приторный,  немного солоноватый; придает пикантную нотку в десерт. Если Вы сладкоежка, то напишите в комментариях, сделаем крем слаще (:')
INSERT [dbo].[Creams] ([Id], [Type], [Description]) VALUES (2, N'шоколадный крем', N'Крем на основе настоящего горького шоколада. Очень вкусный и эффектный. Для настоящих шокоголиков.')
INSERT [dbo].[Creams] ([Id], [Type], [Description]) VALUES (3, N'крем на белом шоколаде', N'Крем на основе сливок и белого бельгийскогошоколада. Сладкий, нежный, невероятно вкусный. ')
SET IDENTITY_INSERT [dbo].[Creams] OFF
SET IDENTITY_INSERT [dbo].[Fillings] ON 

INSERT [dbo].[Fillings] ([Id], [Type], [Description]) VALUES (16, N'фруктовое желе ', N'Свежее желе на агар-агаре на основе фруктового пюре, варенья или перемолотых фруктов со свежими ягодами. Придаёт десерту легкую кислинку и насыщенность. ')
INSERT [dbo].[Fillings] ([Id], [Type], [Description]) VALUES (17, N'цитрусовый курд ', N'Лимон, апельсин или мандарин - на ваш выбор! Своего рода пропитка бисквита с ярким вкусом для придания сочности.')
INSERT [dbo].[Fillings] ([Id], [Type], [Description]) VALUES (18, N'муссы', N'Ягодные, фруктовые, шоколадные. Пушистые, легкие, придают воздушность любому торту! ')
SET IDENTITY_INSERT [dbo].[Fillings] OFF
SET IDENTITY_INSERT [dbo].[IndividualPriceIncludements] ON 

INSERT [dbo].[IndividualPriceIncludements] ([Id], [IncludementInfo], [SweetId]) VALUES (1, N'Любой бисквит и начинка ', 1)
INSERT [dbo].[IndividualPriceIncludements] ([Id], [IncludementInfo], [SweetId]) VALUES (2, N'Венок / полумесяц  из ягод (клубника, голубика, ежевика, красная смородина, малина, кумкват)', 1)
INSERT [dbo].[IndividualPriceIncludements] ([Id], [IncludementInfo], [SweetId]) VALUES (3, N'Шоколадные или карамельные подтеки - на ваш выбор ', 1)
SET IDENTITY_INSERT [dbo].[IndividualPriceIncludements] OFF
SET IDENTITY_INSERT [dbo].[SweetImages] ON 

INSERT [dbo].[SweetImages] ([Id], [Path], [SweetId]) VALUES (1, N'/Content/Images/CrownCake/StartPage/cr_cake_start_1.jpg', 1)
INSERT [dbo].[SweetImages] ([Id], [Path], [SweetId]) VALUES (2, N'/Content/Images/CrownCake/StartPage/cr_cake_start_2.jpg', 1)
INSERT [dbo].[SweetImages] ([Id], [Path], [SweetId]) VALUES (3, N'/Content/Images/CrownCake/StartPage/cr_cake_start_3.jpg', 1)
SET IDENTITY_INSERT [dbo].[SweetImages] OFF
SET IDENTITY_INSERT [dbo].[SweetIndividualRectangleImages] ON 

INSERT [dbo].[SweetIndividualRectangleImages] ([Id], [Path], [SweetId]) VALUES (1, N'/Content/Images/CrownCake/Individual/Rectangle/cr_cake_rect_1.jpg', 1)
INSERT [dbo].[SweetIndividualRectangleImages] ([Id], [Path], [SweetId]) VALUES (2, N'/Content/Images/CrownCake/Individual/Rectangle/cr_cake_rect_2.jpg', 1)
INSERT [dbo].[SweetIndividualRectangleImages] ([Id], [Path], [SweetId]) VALUES (3, N'/Content/Images/CrownCake/Individual/Rectangle/cr_cake_rect_3.jpg', 1)
SET IDENTITY_INSERT [dbo].[SweetIndividualRectangleImages] OFF
ALTER TABLE [dbo].[IndividualPriceIncludements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IndividualPriceIncludements_dbo.CommonSweets_SweetId] FOREIGN KEY([SweetId])
REFERENCES [dbo].[CommonSweets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IndividualPriceIncludements] CHECK CONSTRAINT [FK_dbo.IndividualPriceIncludements_dbo.CommonSweets_SweetId]
GO
ALTER TABLE [dbo].[SweetImages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SweetImages_dbo.CommonSweets_SweetId] FOREIGN KEY([SweetId])
REFERENCES [dbo].[CommonSweets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SweetImages] CHECK CONSTRAINT [FK_dbo.SweetImages_dbo.CommonSweets_SweetId]
GO
ALTER TABLE [dbo].[SweetIndividualRectangleImages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SweetIndividualRectangleImages_dbo.CommonSweets_SweetId] FOREIGN KEY([SweetId])
REFERENCES [dbo].[CommonSweets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SweetIndividualRectangleImages] CHECK CONSTRAINT [FK_dbo.SweetIndividualRectangleImages_dbo.CommonSweets_SweetId]
GO
