
@{
    ViewBag.Title = "Cosmic Cakes - Ошибка в рецепте";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 centerd-content century-gothic-text">
        <p style="font-size:21px;">Тесто не взошло,духовка не жарит и поэтому мы готовы принять ваш заказ по телефону +7-906-255-88-10</p>
    </div>
</div>

