
@{
    ViewBag.Title = "Cosmic Cakes - Страница не найдена";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 centerd-content century-gothic-text">
        <p style="font-size:21px;">Простите, но этой странички пока нет в рецепте :(</p>
    </div>
</div>

