@model CosmicCakes.Models.FeedbackItemsModel
@{
    ViewBag.Title = "Cosmic Cakes - Отзывы о нас";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/blogEditor.js"></script>
<script type="text/javascript">
    bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
<div class="row">
    <div class="col-sm-12 centerd-content">
        <p>Отзывы о нас</p>
    </div>
</div>
@if (Model.UserFeedbacks.Any())
{
    foreach (var feedback in Model.UserFeedbacks)
    {
        var email = feedback.Email != null ? "(" + feedback.Email + ")" : "";
        <div class="row" style="margin-top:50px;margin-bottom:30px;">
            <div class="col-md-12 centerd-content"><p class="h4">@feedback.Author @email</p></div>
        </div>
        <div class="row">
            <div class="col-md-12">@Html.Raw(HttpUtility.HtmlDecode(feedback.Content))</div>
        </div>
        <hr class="style-one" />
    }
}
else
{
    <div class="row">
        <div class="col-md-12 centerd-content blog-themeheading"><h4>Отзывов пока нет, Вы можете быть первым!</h4></div>
    </div>
}
@Html.Partial("FeedbackForm.partial", Model.LeftedFeedback)


