@model CosmicCakes.Models.UserFeedbackModel

@{
    ViewBag.Title = "SaveFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 centerd-content">
        <p class="ubuntu-text" style="font-size:21px;">Спасибо за Ваш отзыв! Он уже появился в общем списке <a href="@Url.Action("Index","Feedback")" style="text-decoration:none;">отзывов</a></p>
    </div>
</div>