
@{
    ViewBag.Title = "О Cosmic Cakes";
    ViewBag.MetaKeyWords = "Cosmicakes,торт,заказать,Нора,Голубева,Nora,Golubeva,на,спб,санкт-петербург,дешево,капкейки,кондитер,ягода,cosmic,cakes";
    ViewBag.Description = "О сладком мире Голубевой Норы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4" style="margin-top:60px;">
        <img src="~/Content/Images/fotka.jpg" class="img-responsive" style="width: 100%; height: 100%;" alt="Кондитер Голубева Нора"/><br />
        <div id="aboutLinkContainer" class="centerd-content about-link-container">
            <p style="margin-bottom:1px;">+7 (906) 255 88 10</p>
            <p style="margin-bottom:1px;">vk: <a href="https://vk.com/cosmicakes" target="_blank">Cosmic Cakes</a></p>
            <p style="margin-bottom:1px;">instagram: <a href="https://www.instagram.com/cosmicakes/" target="_blank">cosmicakes</a></p>
            <p style="margin-bottom:1px;">mail: <a href="mailto:golubevanora1@gmail.com">golubevanora1@gmail.com</a></p>
        </div>
    </div>
    <div class="col-md-8">
        <p class="hey-header">hey Nora Golubeva</p>
        <hr class="style-three" />
        <div class="about-wrapper">
            <p>
                Почему кондитерское дело? Ответ прост - мне всегда нравилось делать красивые вещи.
                Я люблю обдумывать идею, концепцию и дизайн, подходящий к тому или иному празднику. Мне нравится сочетать несочетаемое, покупать свежие ягоды в январе, искать новые рецепты. Пробовать. Ошибаться. И снова пробовать.<br />
            <p>
            <p>
                Я отнюдь не творческий человек, никогда не считала себя великим поваром (о боже, нееет!), но кондитерское дело ворвалось в мою жизнь молниеносно и вынудила нырнуть с головой. Когда у меня бывают выходные, я почти сразу начинаю скучать по запаху свежеиспечённого бисквита, который издаёт звук лопающихся пузырьков прямиком из духовки.
                А запах печёной малины, перемолотой в блендере, пока варю на плите ягодный мусс - это лето, буря красок и запахов, моментально наполняющих кухню. Все это - части моей сладкой кондитерской жизни, которой я все ещё учусь и готова это делать дальше, вместе с вами!
                Я ценю ваше внимание ко мне и доверие, я жду ваших идей и готова предложить свои, я жажду пробовать новое и делать уже привычное.
            </p>
            <p>
                Поэтому добро пожаловать в мое Сладкое Королевство, в мой Cosmic Cake!
            </p>
            <p class="signature">ваша Нора.</p>
        </div>
        
</div>
</div>
<script>
    (function ($) {
        $(document).ready(function () {
            $('#about').addClass("active");
        });
    })
        (jQuery);
</script>


