
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/fotka.jpg" class="img-responsive" width="300" height="200"/>
    </div>
    <div class="col-md-6">
        Привет! меня зовут Нора, и Вы попали на сайт моей домашней кондитерской!
        <p>Это значит, что сейчас вас ждет целая вереница гастрономических, сладких, красивых тортиков, капкейков и пряников!</p>
        <p>Увлечение кондитерскими изделиями у меня случилось летом 2015. Я просто собирала в саду ягоды и вдруг осознала, что они будут прекрасны с шоколадным бисквитом в тандеме! А еще крем-чиз...</p>
        <p>Дальше, как в тумане! Много тортов, много радости, много ошибок и неудач. Я не училась кондитерскому искусству, не заканчивала никаких курсов, поэтому не ругайте сильно :)</p>
        <p>Мастикой не занимаюсь!</p>
        <p>Делаю сладости НА ЗАКАЗ (за 3-4 дня до нужной Вам даты).</p>
        <p>Все торты обговариваются ЛИЧНО с заказчиком по телефону/смс/vk/viber/what's app/почту, я попытаюсь выполнить все ваши желания!
</div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Content/Images/tel.jpg" width="20" height="20" class="margined-right-item"/>
        8-906-255-88-10
        <br />
        <img src="~/Content/Images/i.jpg" width="20" height="20" class="margined-right-item"/>
        <a href="https://vk.com/cosmicakes" target="_blank">Cosmic Cakes</a>
        <br />
        <img src="~/Content/Images/instagram-icon-free-download.jpg" width="20" height="20" class="margined-right-item"/>
        <a href="https://www.instagram.com/cosmicakes/" target="_blank">cosmicakes,</a><a href="https://www.instagram.com/golubeva_nora/" target="_blank">golubevanora</a>
        <br />
        <img src="~/Content/Images/E-Mail.png" width="20" height="20" class="margined-right-item"/>
        <a>golubevanora1@gmail.com</a>
    </div>
</div>

