
@{
    ViewBag.Title = "Что-то пошло не по рецепту";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 centerd-content">
        <p class="ubuntu-text" style="font-size:24px;">Простите,неполадки на кухне:( Вы всегда можете оформить заказ по телефону +7-906-255-88-10</p>
    </div>
</div>
