
@{
    ViewBag.Title = "Cosmic Cakes - Ваш заказ принят";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 centerd-content">
        <p class="ubuntu-text" style="font-size:21px;">Спасибо,Ваше обращение принято. Ответ будет прислан Вам на почту</p>
    </div>
</div>

