@model CosmicCakes.Models.BlogItemsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach(var post in Model.BlogPosts)
{
    <div class="row" style="margin-top:50px;">
        <div class="col-md-12 centerd-content"><label>@post.Author</label></div>
    </div>
    <div class="row">
        <div class="col-md-12"><label>@post.Theme</label></div>
    </div>
    <div class="row">
        <div class="col-md-12"><label>@post.Content</label></div>
    </div>
    <hr class="style-one" />
}


