@model CosmicCakes.Models.BlogItemsModel

@{
    ViewBag.Title = "Cosmic Cakes - Блог конлитерской Cosmic Cakes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.BlogPosts.Any())
{
    foreach (var post in Model.BlogPosts)
    {
        <div class="row">
            <div class="col-md-12 centerd-content blog-themeheading"><h4>@post.Theme</h4></div>
        </div>

        <div class="row" style="margin-top:50px;">
            <div class="col-md-12"><label>@post.Author</label></div>
        </div>

        <div class="row">
            <div class="col-md-12">@Html.Raw(HttpUtility.HtmlDecode(post.Content))</div>
        </div>
        <hr class="style-one" />
    }
}
else
{
    <div class="row">
        <div class="col-md-12 centerd-content blog-themeheading"><h4>В блоге пока нету записей:(</h4></div>
    </div>
}


