@model CosmicakesControlWebApp.Models.PostModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/blogEditor.js"></script>
<script type="text/javascript">
    bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>     

<div class="row">

</div>
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("SavePost", "Blog", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data"}))
        {
            <div class="row">
                <div class="col-sm-1">
                    <label>Автор:</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Author, new {@class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <label>Тема:</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Theme, new { @class = "form-control"})
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <label>Шаблон:</label>
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.SelectedTemplateName,new SelectList(Model.PostTemplatesNames), new { @class = "form-control",id="templateSelector" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <label>Пост:</label>
                </div>
                <div class="col-xs-11" id="templateBody">
                   
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-sm-offset-1 col-sm-8">
                    <button class="btn btn-default make-order-button" type="submit">Отправить</button>
                </div>
            </div>
            
        }
    </div>
   
</div>
<script>
    (function ($) {
        $('select#templateSelector').on('change', function () {
            var name = $(this).val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("LoadTemplate", "Blog")',
                data: { templateName: name },
                dataType: "json",
                error: function (xhr) {
                    alert("Error!");
                },
                success: function (data) {
                    $('div#templateBody').html(data);
                }
            });
        });
    })(jQuery);
</script>

