@model CosmicakesControlWebApp.Models.PostModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/blogEditor.js"></script>
<script type="text/javascript">
    bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>     

<div class="row">
    <div class="col-md-12">
        <p>Новая запись в блог</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("SavePost", "Blog", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", id = "orderForm" }))
        {
            <div class="row">
                <div class="col-sm-1">
                    <label>Автор:</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Author, new {@class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <label>Тема:</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Theme, new { @class = "form-control"})
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <label>Пост:</label>
                </div>
                <div class="col-xs-11">
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control",style = "width:100% !important;", rows = "30" })
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-sm-offset-1 col-sm-8">
                    <button class="btn btn-default make-order-button" type="submit">Отправить</button>
                </div>
            </div>
            
        }
    </div>
   
</div>

