
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 centerd-content" style="margin-top:20px;">
        <p>Как заказать сладость в Cosmic Cakes?</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <p>Все очень просто:</p>
    </div>
</div>

