
@{
    ViewBag.Title = "SuccessOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row centerd-content">
    <p class="ubuntu-text">Спасибо,Ваш заказ принят.Я скоро с Вами свяжусь и мы все обсудим:)</p>
</div>
