@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/StartPage/start_page_1.gif" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/StartPage/start_page_1.gif" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/StartPage/start_page_1.gif" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/StartPage/start_page_1.gif" class="img-responsive" /></div>
</div>
<br />
<div class="row">
    <div class="col-xs-3 col-md-3 col-lg-3 centered-text corinthia-text-start-page">Торты</div>
    <div class="col-xs-3 col-md-3 col-lg-3 centered-text corinthia-text-start-page">Капкейки</div>
    <div class="col-xs-3 col-md-3 col-lg-3 centered-text corinthia-text-start-page">Как заказать?</div>
    <div class="col-xs-3 col-md-3 col-lg-3 centered-text corinthia-text-start-page">Обо мне</div>
</div>
<br />



