@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-top: 25px;">
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/StartPage/start_page_cake_1.jpg" class="img-responsive parallax-layer" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/StartPage/start_page_cupcake_1.jpg" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/StartPage/start_page_1.gif" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/StartPage/start_page_1.gif" class="img-responsive" /></div>
</div>

<div class="row">
    <div class="col-xs-3 col-md-3 col-lg-3 centered-text"><hr class="style-one"/><p class="ubuntu-text-start-page">ТОРТЫ</p></div>
    <div class="col-xs-3 col-md-3 col-lg-3 centered-text"><hr class="style-one" /><p class="ubuntu-text-start-page">КАПКЕЙКИ</p></div>
    <div class="col-xs-3 col-md-3 col-lg-3 centered-text"><hr class="style-one" /><p class="ubuntu-text-start-page">КАК ЗАКАЗАТЬ</p></div>
    <div class="col-xs-3 col-md-3 col-lg-3 centered-text"><hr class="style-one" /><p class="ubuntu-text-start-page">ОБО МНЕ</p></div>
</div>
<div class="row">
    <div class="col-md-12 centered-text" style="background-color: black; color: white; margin-top: 50px;">
        <p class="ubuntu-big-text">FOR THE LOVE OF CAKES</p>
    </div>
</div>
<br />

<script src="https://snapwidget.com/js/snapwidget.js"></script>

<div class="row" style="margin-top: 150px;">
    <div class="col-md-6">
        Instagram: <br />

        <a href="https://www.instagram.com/cosmicakes/" target="_blank">@@cosmicakes</a>

        <br />
        <iframe src="https://snapwidget.com/embed/code/232154" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border: none; overflow: hidden; width: 405px; height: 405px;"></iframe>
    </div>
    <div class="col-md-6" id="instafeed">

    </div>

</div>
@*<script>
    $('.parallax-layer').parallax({
        xparallax: true,
        yparallax: false
    });
</script>*@



