@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/img_1_307x307.jpg" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/img_2_307x307.jpg" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/img_3_307x307.jpg" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/img_4_307x307.jpg" class="img-responsive" /></div>
</div>
<br />
<div class="row">
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/img_5_307x30.jpg" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/img_6_307x30.jpg" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/img_7_307x30.jpg" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/img_8_307x30.jpg" class="img-responsive" /></div>
</div>
<br />
<div class="row">
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/img_9_307x30.jpg" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/img_10_307x30.jpg" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/img_11_307x30.jpg" class="img-responsive" /></div>
    <div class="col-xs-3 col-md-3 col-lg-3"><img src="~/Content/Images/img_12_307x30.jpg" class="img-responsive" /></div>
</div>
<script>
    (function ($) {
        $(document).ready(function () {
            $("#checkData").addClass("active");
        });
    })(jQuery);
</script>

