
@{
    ViewBag.Title = "ЗАКАЗ";
    ViewBag.MetaKeyWords = "Cosmicakes,торт,заказать,Нора,Голубева,Nora,Golubeva,на,спб,санкт-петербург,дешево,капкейки,кондитер,ягода,cosmic,cakes,оформить,кондитерская";
    ViewBag.Description = "COSMIC CAKES|Торты и другие сладости на заказ в Санкт-Петербурге";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 century-gothic-text" style="margin-top:20px;color:grey;margin-bottom:25px;padding-bottom:0px;">
        <h3>КАК ЗАКАЗАТЬ ТОРТЫ И ДРУГИЕ СЛАДОСТИ В COSMIC CAKES?</h3>
    </div>
</div>

<div>
    <div class="row" style="margin-bottom:20px;font-family:'Open Sans',sans-serif;font-size:15px;">
        <div class="col-sm-12">
            <p style="margin:0px;">
                Добро пожаловать в мою домашнюю конитерскую Cosmic Cakes. На этой странице собрана вся необходимая информация для заказа тортов и дргуих сладостей.<br />
                Каждый торт - это результат индивидуального подхода к каждому заказчику : учёт всех пожеланий по вкусу, весу и декору. Делая заказ, я гарантирую, что на Ваш праздник будет приготовлену по-настоящему уникальные и вкусные сладости.<br /><br />
                <strong>Обращаем Ваше внимание, что мы не делаем торты с мастичным декором.</strong>
                <br />
            </p>
        </div>
    </div>

    <div class="row" style="margin-bottom:20px;font-family:'Open Sans',sans-serif;font-size:15px;">
        <div class="col-sm-12">
            <h5>Стоимость:</h5>
            <ul>
                <li>Торты от 1800 р/кг, минимальный вес от 1,5 кг. Выбрать торт и рассчитать точную стоимость <a href="/cakes">здесь</a></li>
                <li>Капкейки от 200 р/шт, минимальный заказ от 6 штук. Выбрать капкейки и рассчитать точную стоимость <a href="/sweets">здесь</a> </li>
                <li>Десерт Павлова от 200 р/шт, минимальный заказ от 6 штук. Выбрать десерт Павлова и рассчитать точную стоимость <a href="/sweets">здесь</a> </li>
                <li>Макаронс от 80 р/шт, минимальный заказ от 12 штук. Выбрать макаронс и рассчитать точную стоимость <a href="sweets">здесь</a> </li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-bottom:20px;font-family:'Open Sans',sans-serif;font-size:15px;">
        <div class="col-sm-12">
            <h5>Оформление заказа:</h5>
            <ul>
                <li>Заказ желательно делать за 2-3 дня до желаемой даты. Чем раньше, тем лучше :)</li>
                <li>Заказ можно оформить онлайн на сайте, по почте (golubevanora1@@gmail.com) и телефону <span class=""> <a href="tel:89062558810">+7 (906) 255 88 10</a> </span></li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-bottom:20px;font-family:'Open Sans',sans-serif;font-size:15px;">
        <div class="col-sm-12">
            <h5>Доставка и самовывоз:</h5>
            <ul>
                <li>Доставка по городу и в пределах КАДа от 350 р. в зависимости от удаленности от кондитерской.</li>
                <li>Доставка по Ленинградской области от 500 р. в зависимости от удаленности от кондитерской.</li>
                <li>Самовывоз осуществляется по договоренности со станции метро Гражданский проспект, ул. Тимуровская, д. 23, корп.2 .</li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-bottom:20px;font-family:'Open Sans',sans-serif;font-size:15px;">
        <div class="col-sm-12">
            <p>Если у Вас остались вопросы, то воспользуйтесь <a href="/help">формой обратной связи</a> и задайте все интересующий Вас вопросы</p>

            <p>Мы в социальных сетях:</p>
            <ul style="padding-left: 0; opacity: 0.6;">
                <li style="padding: 0; margin-right: 20px; margin-bottom:10px; list-style-type:none;"><a href="https://www.instagram.com/cosmicakes/" target="_blank"><img src="/Content/Images/Icons/instagram-social-network-logo-of-photo-camera.png" height="20" width="20" /></a> - Instagram</li>
                <li style="padding: 0; margin-right: 20px; margin-bottom:10px; list-style-type: none;"><a href="tel:+79062558810" target="_blank"><img src="/Content/Images/Icons/wassap-logo-button.png" height="20" width="20" /></a> - Телефон</li>
                <li style="padding: 0; margin:0; margin-bottom:10px; list-style-type: none;"><a href="https://vk.com/cosmicakes" target="_blank"><img src="/Content/Images/Icons/vk-icon.png" height="20" width="20" /></a> - ВКонтакте</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <img src="~/Content/Images/Prices/price_1.jpg" />
    </div>

    <div class="col-sm-3">
        <img src="~/Content/Images/Prices/price_4.jpg" />
    </div>

    <div class="col-sm-3">
        <img src="~/Content/Images/Prices/price_3.jpg" />
    </div>

    <div class="col-sm-3">
        <img src="~/Content/Images/Prices/price_2.jpg" />
    </div>
</div>
<script>
    (function ($) {
        $(document).ready(function () {
            $('#prices').addClass("active");
        });
    })
    (jQuery);
</script>
