body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.centerd-content {
    text-align:center;
    align-content:center;
    float:none;
}
.main-head-menu {
    font-family:Castellar;
}
.margined-right-item {
    margin-right:55px;
}
img.margined-right-item {
    margin-right:15px;
}
.hundred-widthed-item {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}
.hundred-widthed-item-changer {
     max-width: 100%;
    max-height: 100%;
    height: 100%;
    width:100%;
}

.centered-text {
    text-align: center;
}
.century-gothic-text {
    font-family: "Century Gothic";
   
}
.centered-text-heading {
     font-size: 30pt;
    line-height: 1;
    text-align: center;
}
.cake-info-font-size {
    font-size: 13pt;
}
.justified-text {
    text-align: justify;
    text-indent: 10%;
    font-size: 11pt;
    margin-top:15px;
}
.test-border-item {
    border: black 1px solid;
}
[class*="col-"] {
    margin-bottom: -300px;
    padding-bottom: 300px;

}
.fader img {
    display: none;
}
.cake-name {
    font-size: 36px;
}
div.centered-text > span {
     line-height:300px; 
}
div.centered-text > div#text-container {
    vertical-align:middle; 
    display:inline-block; 
}
div#text-container  a {
     text-decoration: none;
    cursor: pointer;
    color: black;
    font-family:'Corinthia';
    font-size: 70pt;
}
div#text-container  a:hover {
    text-decoration: none;
    cursor: pointer;
    /*color: #595959;*/
    font-family:'Corinthia';
    font-size: 70pt;

}
div#briefCake {
    color: grey;
}
div#briefCake>p.price {
    font-size: 19px;
}
div.cakeInfoSet:hover {
   
    transition: 1s;
    color: white !important;
    z-index: 1;
    
}
div.cakeInfoSet  a {
    transition: 1s;
    color: white !important;
    
}
div.cakeInfoSet div#briefCake {
    transition: 1s;
    font-size: 17px;
    color: white !important;
}
.cakeInfoSetSimple {
    transition: 1s;
}
.childBackground {
    background: no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}




