@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12">
            <p>Сайт управления для cosmicakes.ru</p>
        </div>
    </div>
</div>