
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6" style="padding-right: 0;">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 0;padding-left: 0;">
            <img src="/Content/Images/img_13_307x30.jpg" class="hundred-widthed-item" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0;padding-right: 0;">
            <img src="/Content/Images/img_12_307x30.jpg" class="hundred-widthed-item"/>
        </div>
    </div>
</div>

<div class="row">
    
    <div class="col-md-offset-6" style="padding-left: 0;">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 0;padding-left: 0;">
            <img src="/Content/Images/img_11_307x30.jpg" class="hundred-widthed-item"/>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0;padding-right: 0;">
            <img src="/Content/Images/img_10_307x30.jpg" class="hundred-widthed-item"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6" style="padding-right: 0;">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 0;padding-left: 0;">
            <img src="/Content/Images/img_1_307x307.jpg" class="hundred-widthed-item" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0;padding-right: 0;">
            <img src="/Content/Images/img_2_307x307.jpg" class="hundred-widthed-item" />
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-offset-6" style="padding-left: 0;">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 0;padding-left: 0;">
            <img src="/Content/Images/img_3_307x307.jpg" class="hundred-widthed-item" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0;padding-right: 0;">
            <img src="/Content/Images/img_4_307x307.jpg" class="hundred-widthed-item" />
        </div>
    </div>
</div>

<script>
    (function($) {
        $('#cakes').addClass("active");
    })
    (jQuery);
</script>

