
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-sm-12 centerd-content">
        <h2>Heading</h2>
    </div>

</div>
<div class="row" style="margin-top:30px;">

    <div class="col-sm-6">
        <p>Opening 
        Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening 
            Opening </p>
    </div>

    <div class="col-sm-6">
        <img src="https://pp.userapi.com/c622620/v622620266/45928/kkcFNHYa5DU.jpg" alt="innerImage" class="img-responsive" style="width:400px;height:285px;" />
    </div>

</div>
<div class="row">

    <div class="col-sm-12 centerd-content">
        <h2>Sub-Heading</h2>
    </div>

</div>
<div class="row">

    <div class="col-sm-12 centerd-content">
        <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
    </div>

</div>
<div class="row">

    <div class="col-sm-12 centerd-content">
        <p>
            "Quoted words by one biiiiig clever man!"
        </p>
    </div>

</div>

<div class="row">

    <div class="col-sm-12 centerd-content">
        <h2>Sub-Heading 2. Big Promise!</h2>
    </div>

</div>
<div class="row">

    <div class="col-sm-4">
        <img src="https://pp.userapi.com/c622620/v622620266/45928/kkcFNHYa5DU.jpg" alt="innerImage" class="img-responsive" style="width:400px;height:285px;" />
    </div>

    <div class="col-sm-8">
        <p>How-to section with recomendations 
         How-to section with recomendations
         How-to section with recomendations
         How-to section with recomendations
         How-to section with recomendations
         How-to section with recomendations </p>
    </div>

   
</div>

<div class="row">
    <div class="col-sm-12">
        <p>Subscribe Area 
            Subscribe Area 
            Subscribe Area 
            Subscribe Area 
            Subscribe Area 
            Subscribe Area 
            Subscribe Area 
            Subscribe Area 
            Subscribe Area </p>
    </div>
</div>
